.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nuevos estilos */

/* NavBar */

.navList ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

.navList li{
  padding-left: 2rem;
}

.colorNav{
  color:#7B9E67; 
  font-size: medium;  
}
.colorNav:hover{
  color:#23423E;
}

.cover{
  background-size: cover;
  padding: 3%;
  min-height: 600px;
}

.med h1{
  color:#23423E; 
  font-size:xx-large ;
}
.med h2{
  color:#7B9E67; 
  font-size:x-large ;
}

.med2{
  font-size:x-large;
  padding-right: 20rem;
  padding-left: 2rem;
}

.med4{
  font-size: large;
  padding-right: 22rem;
  padding-left: 2rem;
}

/* .med3{
  background: #7A7A7A;
  background: -webkit-linear-gradient(to right, #7A7A7A 55%, #F0EDEB 57%);
  background: -moz-linear-gradient(to right, #7A7A7A 55%, #F0EDEB 57%);
  background: linear-gradient(to right, #7A7A7A 55%, #F0EDEB 57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.footerColor{
  background-color: #23423E;
}